h1 {
    font-weight: 900;
    font-size: 32pt;
}

.half-size {
    width: 50%;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.larger {
    font-size: 20pt;
}

.mtop {
    margin-top: 20px;
}