<h1>Scenery</h1>

<div class="blue larger">
  A picture of a lake.
  <br>
  <img src="../assets/lake.jpg" alt="Blue Lake" class="half-size">
</div>

<div class="green larger mtop">
  A picture of a field of flowers.
  <br>
  <img src="/src/assets/flowers.jpg" alt="Flower Field" class="half-size">
</div>

<div class="mtop">
  <span class="blue larger">A video of the ocean</span>
  <br>
  <video controls class="half-size">
    <source src="/src/assets/Ocean.mp4" type="video/mp4">
  </video>
  Video by <a href="https://pixabay.com/users/christianbodhi-9869182/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=19609">Christian Bodhi</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=19609">Pixabay</a>
</div>
